# Node rules:
## Grunt intermediate storage (http://gruntjs.com/creating-plugins#storing-task-files)
.grunt

## Dependency directory
## Commenting this out is preferred by some people, see
## https://docs.npmjs.com/misc/faq#should-i-check-my-node_modules-folder-into-git
node_modules

# Book build output
_book

# eBook build output
*.epub
*.mobi
*.pdf
/Visyon_Test/Library
/Visyon_Test/Temp
/Visyon_Test/.vs/Visyon_Test
/Visyon_Test/Assets/GoogleVR/Beta/Demos/Scenes
/Visyon_Test/Assets/GoogleVR/Beta/Models
/Visyon_Test/Assets/GoogleVR/Demos/Environment/Materials
/Visyon_Test/Assets/GoogleVR/Demos/Environment
/Visyon_Test/Assets/GoogleVR/Demos/Materials/HelloVR
/Visyon_Test/Assets/GoogleVR/Demos/Models/HelloVR
/Visyon_Test/Assets/GoogleVR/Demos/Scenes
